@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&family=Poppins:ital,wght@0,400;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color:lavender;
}

h1{

    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin: 50px 430px;
    color: blueviolet;
    padding:10px;
}

select{
    cursor: pointer;
    border:none;
    outline: none;
    margin:20px 10px;
    color: #fff;
    padding:15px;
    font:100 1.2rem sans-serif;
    background-color: rgb(50,50,50);
}

.button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   